/* App.css */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #050a15; /* Màu nền tối cho toàn bộ trang */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif; /* Hoặc font nào Huy thích */
}

main {
  flex: 1; /* Đẩy Footer xuống cuối trang nếu nội dung ngắn */
}